<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AcclogViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.AcclogView">
        <id column="pin" property="pin" />
        <result column="name" property="name" />
        <result column="mobile" property="mobile" />
        <result column="deptname" property="deptname" />
        <result column="reader_name" property="readerName" />
        <result column="device_name" property="deviceName" />
        <result column="sn" property="sn" />
        <result column="time" property="time" />
        <result column="event_type" property="eventType" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseMap" type="HashMap">
        <result column="type" property="type" />
        <result column="deptname" property="deptname" />
        <result column="mobile" property="mobile" />
        <result column="n" property="n" />
        <result column="name" property="name" />
        <result column="pin" property="pin" />
        <result column="s" property="s" />
    </resultMap>

    <select id="selectAccCount" parameterType="map" resultType="map">

select (
case when deptname = '分包方-保安'
or deptname = '分包方-保安'
or deptname = '分包方-饭堂'
or deptname = '分包方-清洁'
THEN 1 else 0 END) deptname,(count(CASE
	WHEN reader_name like 'TKI%' THEN 1
END
)-count(CASE
	WHEN reader_name like 'TKO%' THEN 1
END
))n from acclog_view  where 1=1  and deptname not in ('省装','试验塔','调试临时卡组', 'Yangjiang Office','test')
        <if test="startTime != null and startTime != ''">
            and time &gt; #{startTime}
        </if>
          GROUP BY pin,deptname having (count(CASE
	WHEN reader_name like 'TKI%' THEN 1
END
)-count(CASE
	WHEN reader_name like 'TKO%' THEN 1
END
)) != 0

    </select>

    <select id="selectMap" resultMap="BaseMap">
        select pin,name,mobile,deptname,(case when type = 0 then '内部员工' when type = 1 then '长期供应商' end) type,n,
        (case when n = 1 then '在园区'
        when n = 0 then '已签离'
        when n &gt;1 or n &lt; 0 then '异常' end) s
        from (
        select pin,name,mobile,deptname,(
        case when deptname = '分包方-保安'
        or deptname = '分包方-保安'
        or deptname = '分包方-饭堂'
        or deptname = '分包方-清洁'
        THEN 1 else 0 END) type,
        (count(CASE WHEN reader_name like 'TKI%' THEN 1 END )-count(CASE WHEN reader_name like 'TKO%' THEN 1 END ))n
        from acclog_view
        where 1=1
        and deptname not in ('省装','试验塔','调试临时卡组', 'Yangjiang Office','test')
        and event_type = '正常验证开门'
        <if test="startTime != null and startTime != ''">
            and time &gt; #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and time &lt; #{endTime}
        </if>
        <if test="times != null and times != ''">
            and time not in  (${times})
        </if>
        GROUP BY pin,name,mobile,deptname
        having (count(CASE WHEN reader_name like 'TKI%' THEN 1 END )-count(CASE WHEN reader_name like 'TKO%' THEN 1 END )) != 0 ) a

    </select>

</mapper>
