<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AcclogViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.AcclogView">
        <id column="pin" property="pin" />
        <result column="name" property="name" />
        <result column="mobile" property="mobile" />
        <result column="deptname" property="deptname" />
        <result column="reader_name" property="readerName" />
        <result column="device_name" property="deviceName" />
        <result column="sn" property="sn" />
        <result column="time" property="time" />
        <result column="event_type" property="eventType" />
    </resultMap>


    <select id="selectAccCount" parameterType="map" resultType="map">

select (
case when deptname = '分包方-保安'
or deptname = 'test'
or deptname = 'Yangjiang Office'
or deptname = '调试临时卡组'
or deptname = '分包方-保安'
or deptname = '分包方-饭堂'
or deptname = '分包方-清洁'
or deptname = '省装'
or deptname = '试验塔'
THEN 1 else 0 END) deptname,(count(CASE
	WHEN reader_name like 'TKI%' THEN 1
END
)-count(CASE
	WHEN reader_name like 'TKO%' THEN 1
END
))n from acclog_view  where 1=1
        <if test="startTime != null and startTime != ''">
            and time &gt;= #{startTime}
        </if>
          GROUP BY pin,deptname having (count(CASE
	WHEN reader_name like 'TKI%' THEN 1
END
)-count(CASE
	WHEN reader_name like 'TKO%' THEN 1
END
)) != 0

    </select>

</mapper>
