<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AcclogViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.AcclogView">
        <id column="pin" property="pin" />
        <result column="name" property="name" />
        <result column="mobile" property="mobile" />
        <result column="deptname" property="deptname" />
        <result column="reader_name" property="readerName" />
        <result column="device_name" property="deviceName" />
        <result column="sn" property="sn" />
        <result column="time" property="time" />
        <result column="event_type" property="eventType" />
    </resultMap>


    <select id="selectAccCount" parameterType="map" resultType="map">

(select (case deptname when 'TK内部' THEN 1 else 0 END) deptname,(count(CASE
	WHEN reader_name='TKI' THEN 1
END
)-count(CASE
	WHEN reader_name='TKO' THEN 1

END
))n from acclog_view  where time &gt;= #{startTime}  GROUP BY pin,deptname having (count(CASE
	WHEN reader_name='TKI' THEN 1

END
)-count(CASE
	WHEN reader_name='TKO' THEN 1

END
)) != 0)

    </select>

</mapper>
