<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.VisitorlogViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.VisitorlogView">
        <id column="visitor_pin" property="visitorPin" />
        <result column="visitor_mobile" property="visitorMobile" />
        <result column="visitor_company" property="visitorCompany" />
        <result column="visitor_name" property="visitorName" />
        <result column="visitor_plate" property="visitorPlate" />
        <result column="name" property="name" />
        <result column="pin" property="pin" />
        <result column="visitor_statu" property="visitorStatu" />
        <result column="in_address" property="inAddress" />
        <result column="in_time" property="inTime" />
        <result column="out_time" property="outTime" />
        <result column="visitor_type" property="visitorType" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseMap" type="HashMap">
        <id column="visitor_pin" property="visitorPin" />
        <result column="visitor_mobile" property="visitorMobile" />
        <result column="visitor_company" property="visitorCompany" />
        <result column="visitor_name" property="visitorName" />
        <result column="visitor_plate" property="visitorPlate" />
        <result column="name" property="name" />
        <result column="pin" property="pin" />
        <result column="visitor_statu" property="visitorStatu" />
        <result column="in_address" property="inAddress" />
        <result column="in_time" property="inTime" />
        <result column="out_time" property="outTime" />
        <result column="visitor_type" property="visitorType" />
    </resultMap>


    <select id="selectMap" parameterType="map" resultMap="BaseMap">
        select * from visitorlog_view where in_time &lt;= #{startTime}

    </select>

    <select id="selectVisitorCount" parameterType="map" resultType="map">
        select * from visitorlog_view where in_time &lt;= #{startTime}

    </select>
</mapper>
